  body, html {
    height: 100%;
    font-family: 'Dosis', sans-serif;
    background-color: #fbe4d7;
  }
  
  .bg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/laura-chouette-CfIm-7VJuEw-unsplash.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .login {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 600px;
    width: 600px;
    border-radius: 10px;
    border: rgba(255, 255, 255, 0) 5px solid;
    background-color: rgba(255, 255, 255, 0.719);
    
  }

  .login-button {
    padding: 10px 30px;
    display: flex;
    margin-left: 27px;
    border-radius: 10px;
    background-color: white;
  }

  .login-text {
    text-align: center;
  }

  .btn-light:hover {
    background-color: hsl(194, 62%, 87%);
  }
 
  input {
    padding:10px;
    border:0;
    border-radius: 5px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    background-color: rgba(250, 246, 246, 0.79);
  }

  input[type="date"] {
    padding-right: 26px;
  }

  input#category-search, .friend-input {
    height: 34px;
    margin: 5px;
  }

  .create-trip-btn {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 35px;
   
  }

  .friend-btn {
    margin-top: 5px;
  }

  ul {
    list-style: none;
  }

  .trip-btn {
    padding-left: 30px;
    padding-right: 30px;
  }

  #category-search {
    width: 160px;
  }

  .card {
    text-align: center;
  }

  .card-btn {
    width: 158px;
    border-color: rgb(216, 214, 214);
    background-color: white;
  }

  .btn-light {
    border-color: rgb(216, 214, 214);
    background-color: white;
    border-radius: 10px;
  }

  img {
    height: 300px;
    width: 300px;
    border-radius: 5px;
  }

  .image {
    height: 300px;
    width: 300px;
  }

  .icon {
    text-align: center;
  }

  .title {
    text-align: center;
  }

  .trip-details-title {
    background-color: rgb(255, 255, 255);
    background-image: url("../img/crossword.png");
    border-radius: 5px;
    box-shadow: 0 8px 8px -4px lightblue;
    text-align: center;
    margin: 20px;
    padding: 10px;
  }

  span {
    font-family: 'Satisfy', cursive;
  }

  .col-one {
    display: flex;
    justify-content: center;
  }

  .carousel-item {
    height: 32rem;
    background: #ffdbc791;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .carousel-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  .carousel-inner img {
    height: 500px;
    width: 500px;
  }

  /* Container holding the image and the text on homepage */
  .trip-container {
    position: relative;
    text-align: center;
    color: white;
    margin-right: 100px;
    
  }
  /* Centered text in trip container */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.503);
    padding: 5px;
    border-radius: 5px;
  }

  .weather-container {
    border: white 3px solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 500px;
    
  }

  .current-container {
    border: white 3px solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 500px;
    
  }

  #calendar {
    background-color: white;
  }

  /* container to add scrollbar to weather/homepage */
  .outer-container {
    width:45%;
    height:500PX;
    FLOAT: left;
    margin-left: 5%;
    padding: 1%;
    overflow: scroll;
    }

  .outer-trip-container {
    width:45%;
    height:500PX;
    FLOAT: left;
    margin-top: -10px;
    padding: 1%;
    overflow: scroll;
    }

  .information-box, .invite-container{
    border: 2px white solid;
    border-radius: 10px;
    padding: 10px;
  }

  .activity-title, .calendar-title, .weather-title, .welcome-title, .invited-title {
    box-shadow: 0 8px 8px -4px #add8e6;
  }

  .photo-title {
    box-shadow: 0 8px 8px -4px lightblue;
    margin-bottom: 20px;
  }

  .trip-plan {
    margin-left: 30px;
  }

  .details {
    margin-left: 100px;
  }

  footer {
    color: black;
    background-color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    flex-shrink: 0;
  }

  .push {
    height: 280px;
  }

  .card-body ul {
    margin-right: 25px;
  }





    

