html, body {
    margin: 0;
    width: 100%;
    height: 100%
}

.map, #map, #main {
    width: 80%;
    height: 60%;
    margin-left: 144px;
    border-radius: 5px;
}

h6 {
    font-family: 'Dosis', sans-serif;
    text-align: center;
}

h4, h5 {
    font-family: 'Satisfy', cursive;
    text-align: center;
}