{% extends 'base.html' %}
{% block body %}
<h1>Welcome, {{user.fname}}!</h1>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
            <h3>Create a new trip</h3>
            <form action="/create-trip" method="POST">
            <label for="city">Choose a Destination City: City, State</label><br>
            <input type="text" name="city" id="city"></br>
            <label for="depart_city">Choose a Departure City: City, State</label><br>
            <input type="text" name="depart_city" id="depart_city"></br>
            <label for="trip-name">Name your trip:</label><br>
            <input type="text" name="trip-name" id="trip-name"></br>
            <label for="start-date">Enter a start date</label><br>
            <input type="date" name="start" id="start"></br>
            <label for="end-date">Enter an end date</label><br>
            <input type="date" name="end" id="end"></br>
            <button class="create-trip" type="submit">Submit</button>
        </form>
        </div>
   
        <div class="col">
            <h3>Current trips planned</h3>
            <ul>
                {% for trip in trips %}
                <div class="trip">
                  <li><a href="/trip/{{ trip.trip_id }}">{{ trip.trip_name }} in {{ trip.city }}</a></li>
                  <img src="../static/img/{{trip.trip_image}}">
                </div>
                {% endfor %}
            </ul>
            </form>
            </div>
        </div>
    </div>
    
{% endblock %}