{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <div class="create-trip">
        <form action="/create-trip" method="POST">
            <label for="city">Choose a city</label><br>
            <input type="text" name="city" id="city"></br>
            <label for="trip-name">Name your trip</label><br>
            <input type="text" name="trip-name" id="trip-name"></br>
            <label for="start-date">Enter a start date</label><br>
            <input type="date" name="start" id="start"></br>
            <label for="end-date">Enter an end date</label><br>
            <input type="date" name="end" id="end"></br>
            <button class="create-trip" type="submit">Submit</button>
        </form>
        </div>

        <div class="trip-loop">
            <!-- <form action="/api/activities"> -->
            <!-- my original idea was to loop over trips as a bullet list, but how do I get the city out of a jinja ? -->
            <h3>Current trips planned</h3>
            <ul>
                {% for trip in trips %}
                  <input name="city" type="hidden" value="{{trip.city}}">
                  <li><a href="/trip/{{ trip.trip_id }}">{{ trip.city }}</a></li>
                {% endfor %}
            </ul>
            <!-- <select> -->
            <!-- {% for trip in trips %}
            <option value="{{trip.city}}" name="{{trip.city}}">{{trip.city}}</option>
            {% endfor %} -->
            <!-- <input type="text" name="seattle">
            <input type="submit"> -->
            <!-- </select> -->

            </form>
        </div>


        </div>
    
{% endblock %}