{% extends 'base.html' %}
{% block body %}
<h1>Welcome, {{user.fname}}!</h1>

<!-- Google map -->
<div id="main"></div>
<script src="/static/js/main_map.js"></script>
<script async
    src="https://maps.googleapis.com/maps/api/js?key={{MAPS_API_KEY}}&callback=initMap">
</script>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
            <h1>Create a new trip</h1>
            <form action="/create-trip" method="POST">
            <label for="city">Choose a Destination City:</label><br>
            <input type="text" name="city" id="city" placeholder="City, ST"></br>
            <label for="trip-name">Name your trip:</label><br>
            <input type="text" name="trip-name" id="trip-name" placeholder="Trip Name"></br>
            <label for="start-date">Enter a start date</label><br>
            <input type="date" name="start" id="start"></br>
            <label for="end-date">Enter an end date</label><br>
            <input type="date" name="end" id="end"></br>
            <button class="btn btn-secondary" type="submit">Submit</button>
        </form>
        </div>
   
        <div class="col">
            <h1>Current trips planned</h1>
            <div id="root"></div>
        </div>

        <div class="col">
            <h1>Current invited trips</h1>
            <ul>
                {% if not user.invited_trips %}
                <li>No invited trips yet.</li>
                {% endif %}
                {% for trip in user.invited_trips %}
                <form action="/invited-trip-details/{{ trip.trip_id }}">
                <li>{{trip.trip_name}}
                    <button type="submit" class="btn btn-secondary">View Details</button>
                </li>
                </form>
                {% endfor %}
            </ul>
        </div>
        </div>
    </div>
    
    <!-- React -->
    <script type="text/jsx" src="/static/js/react.jsx"></script>
    
{% endblock %}