{% extends 'base.html' %}


{% block body %}
<div class="container">
<div class="row">
<div class="col">
<h1 class="invited-title">{{ trip.user.fname }} {{ trip.user.lname }} invited you to <span>{{ trip.trip_name }}!</span></h1>
<br>

<div class="invite-container">
<h2>Current Activities</h2>
<ul>
    {% if not trip.activities %}
    <li>No activities chosen yet.</li>
    {% endif %}
    {% for activity in trip.activities %}
    <li>{{ activity.name }}: {{ activity.date }}</li>
    {% endfor %}
</ul>
<h2>Trip Notes</h2>
<ul>
    {% if not trip.notes %}
    <li>No notes yet.</li>
    {% endif %}
    {% for note in trip.notes %}
    <li>{{ note.note }}</li>
    {% endfor %}
</ul>
<h2>Trip Photos</h2>
<ul>
    {% if not trip.photos %}
    <li>No photos yet.</li>
    {% endif %}
    {% for photo in trip.photos %}
    <li><img src="{{ photo.photo }}"></li>
    {% endfor %}
</ul>
</div>
</div>

<div class="col friends-image">
    <img src="/static/img/oveth-martinez-5y6SdhXQ92A-unsplash.jpg">
</div>
</div>
</div>


{% endblock %}