<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Travel Book</title>
    {% endblock %}
</head>

    <div class="bg">

        <div class="login">
        <div class="login-window">
            <h3>Travel Book</h3>
            <h4>Login</h4>
            <form action="/login" method="POST">
                <label for="email">Email</label><br>
                <input type="text" id="email" name="email"><br>
                <label for="password">Password</label><br>
                <input type="password" id="password" name="password"><br><br>
                <button class="login-button" type="submit">Submit</button>
                </form>
        </div>
        
        <div class="create-window">Don't have an account yet? Register here: <a href="/register">Create Account</a></div>
         <!-- Flash messages -->
         <div class="flash_msg">
            {% for msg in get_flashed_messages() %}
                <span>{{ msg }}</span>
            {% endfor %}
            </div>
        </div>

    </div>
   </html>
  
