{% extends 'base.html' %}


{% block body %}
<div class="container">
<h1>Your trip {{trip.trip_name}}</h1>
<h2>{{trip.depart_city}} to {{trip.city}}</h2>
<h3>Trip date {{trip.start_date}} to {{trip.end_date}}</h3>

<div class="activity_links">
<a href="/api/activities/{{ trip.trip_id }}">Choose activities for your trip!</a><br>
<a href="/api/restaurants/{{ trip.trip_id }}">Choose restaurants for your trip!</a><br>
<a href="/api/flights/{{ trip.trip_id }}">Check flights for your trip!</a><br>
</div>

<div class="card" style="width: 18rem;">
  <img src="/static/img/icon images/wine.jpg" class="img-thumbnail" alt="a table with two bowls of food and glasses of wine">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="/static/img/icon images/balloons.jpg" class="img-thumbnail" alt="a table with two bowls of food and glasses of wine">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="/static/img/icon images/calendar2.jpg" class="img-thumbnail" alt="a table with two bowls of food and glasses of wine">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="/static/img/icon images/camera.jpg" class="img-thumbnail" alt="a table with two bowls of food and glasses of wine">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="current_activities">
<h1>Current Activities</h1>
<form action="/delete_activity/{{ trip.trip_id }}" method="POST">
<ul>
    {% for activity in trip.activities %}
    {% if activity.date == None %}
    <li>{{activity.name}}: No date selected yet.<button type="submit" name="activity-id" value="{{activity.activity_id}}">Delete</li>
    {% else %}
    <li>{{activity.name}}: Scheduled on {{activity.date}}<button type="submit" name="activity-id" value="{{activity.activity_id}}">Delete</li>
    {% endif %}
    {% endfor %}
</ul>
</form>

<div class="current_notes">
<h1>My Notes</h1>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Add a note
</button>

<form action="/delete_note/{{ trip.trip_id }}" method="POST">
<ul>
  {% for note in trip.notes %}
  <li>{{note.note}}<button type="submit" name="note-id" value="{{note.note_id}}">Delete</li>
  {% endfor %}
</ul>
</form>


</div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Trip Notes</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/submit_note/{{trip.trip_id}}" method="POST">
            <div class="form-group">
                <label for="activity-note">Add Note</label>
                <input type="text" class="activity-note" name="activity-note" placeholder="Your note here!">
            </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
      </div>
    </div>
  </div>

</div>
<div class="calendar-block">
<h1>View Calendar</h1>
<a href="/calendar/{{ trip.trip_id }}">Schedule your activities!</a>
</div>
<div class="upload-photo">
  <h1>Upload Photos</h1>
  <a href="/photos/{{ trip.trip_id }}">Go to photo upload!</a>
</div>

</div>
<div id="map"></div>

<script src="/static/js/maps.js"></script>
<script async
    src="https://maps.googleapis.com/maps/api/js?key={{MAPS_API_KEY}}&callback=initMap">
</script>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>


{% endblock %}