{% extends 'base.html' %}


{% block body %}
<div class="container">
<div class="trip-details-title">
<h1>Your trip <span>{{ trip.trip_name }}</span> to {{ trip.city }}</h1>
<h3>Trip date {{ trip.start_date.strftime('%m-%d-%Y') }} to {{ trip.end_date.strftime('%m-%d-%Y') }}</h3>
<!-- Flash messages -->
<div class="flash_msg">
  {% for msg in get_flashed_messages() %}
      <span>{{ msg }}</span>
  {% endfor %}
  </div>
</div>

<!-- Link for API call to AviationStack - disabled this functionality
  <a href="/api/flights/{{ trip.trip_id }}">Check flights for your trip!</a><br> -->

<div class="row">
  <div class="col">
<div class="card" style="width: 12rem;">
  <img src="/static/img/icon images/wine.jpg" class="img-thumbnail" alt="a table with two bowls of food and glasses of wine">
  <div class="card-body">
    <h5 class="card-title">Restaurants</h5>
    <p class="card-text">Select top rated restaurants for your trip.<br></p>
    <a href="/api/restaurants/{{ trip.trip_id }}" class="btn btn-light card">Click here!</a>
  </div>
</div>
</div>

<div class="col">
<div class="card" style="width: 12rem;">
  <img src="/static/img/icon images/balloons.jpg" class="img-thumbnail" alt="a table with two bowls of food and glasses of wine">
  <div class="card-body">
    <h5 class="card-title">Activities</h5>
    <p class="card-text">Select top rated activities for your trip.</p>
    <a href="/api/activities/{{ trip.trip_id }}" class="btn btn-light card">Click here!</a>
  </div>
</div>
</div>

<div class="col">
<div class="card" style="width: 12rem;">
  <img src="/static/img/icon images/sunset.jpg" class="img-thumbnail" alt="a table with two bowls of food and glasses of wine">
  <div class="card-body">
    <h5 class="card-title">Choose your own</h5>
    Enter a category:
    <form action="/api/search/{{ trip.trip_id }}">
    <input type="text" id="category-search" name="activity-category" placeholder="Search">
    <button class="btn btn-light card-btn" type="submit">Click here!</button>
    </form>
  </div>
</div>
</div>

<div class="col">
  <div class="card" style="width: 12rem;">
    <img src="/static/img/icon images/calendar3.jpg" class="img-thumbnail" alt="a table with two bowls of food and glasses of wine">
    <div class="card-body">
      <h5 class="card-title">Calendar</h5>
      <p class="card-text">View your calendar events.</p>
      <a href="/calendar/{{ trip.trip_id }}" class="btn btn-light card">Click here!</a>
    </div>
  </div>
  </div>

  <div class="col">
    <div class="card" style="width: 12rem;">
      <img src="/static/img/icon images/camera.jpg" class="img-thumbnail" alt="a table with two bowls of food and glasses of wine">
      <div class="card-body">
        <h5 class="card-title">Photos</h5>
        <p class="card-text">Go to your photo upload page.</p>
        <a href="/photos/{{ trip.trip_id }}" class="btn btn-light card">Click here!</a>
      </div>
    </div>
    </div>

    <div class="col">
      <div class="card" style="width: 12rem;">
        <img src="/static/img/icon images/rainbow.jpg" class="img-thumbnail" alt="a table with two bowls of food and glasses of wine">
        <div class="card-body">
          <h5 class="card-title">Weather</h5>
          <p class="card-text">View upcoming weather in trip city.</p>
          <a href="/api/open-weather/{{ trip.trip_id }}" class="btn btn-light card">Click here!</a>
        </div>
      </div>
      </div>

</div>

<hr>

<div class="row justify-content-between details">

<div class="col">
<h3>Activities</h3>
<form action="/delete_activity/{{ trip.trip_id }}" method="POST">
<ul>
    {% if not trip.activities %}
    <li>No activities chosen yet. Go to schedule activities to start planning!</li>
    {% endif %}
    {% for activity in trip.activities %}
    {% if activity.date == None %}
    <li>{{ activity.name }} - No date yet. <button type="submit" class="btn btn-light" name="activity-id" value="{{activity.activity_id}}">X</li>
    {% else %}
    <li>{{ activity.name }} - {{ activity.date.strftime('%m-%d-%Y') }} <button type="submit" class="btn btn-light" name="activity-id" value="{{ activity.activity_id }}">X</li>
    {% endif %}
    {% endfor %}
</ul>
</form>
</div>


<div class="col">
<h3>Trip Notes</h3>
<!-- Button trigger modal -->
<button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Add a note
</button>

<form action="/delete_note/{{ trip.trip_id }}" method="POST">
<ul>
  {% for note in trip.notes %}
  <li>{{note.note}} <button type="submit" class="btn btn-light" name="note-id" value="{{ note.note_id }}">X</li>
  {% endfor %}
</ul>
</form>
</div>

<div class="col">
<h3>Add Friends</h3>
<form action="/add-friend/{{ trip.trip_id }}", method="POST">
  <label for="friend-fname">Enter your friend's name:</label><br>
  <input type="text" id="friend-fname" name="friend-fname" placeholder="Search"><br><br>
  <button type="submit" class="btn btn-light">Submit</button>
</form>
</div>

<div class="col">
  <h3>Invited Friends</h3>
  <ul>
    {% if not trip.invited_users %}
    <li>No friends invited to any trips yet.</li>
    {% endif %}
    {% for friend in trip.invited_users %}
    <li>{{ friend.fname }} {{ friend.lname }}</li>
    {% endfor %}
  </ul>
</div>

<h1>Activities Map</h1>

</div>



  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Trip Notes</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/submit_note/{{ trip.trip_id }}" method="POST">
            <div class="form-group">
                <label for="activity-note">Add Note</label>
                <input type="text" class="activity-note" name="activity-note" placeholder="Your note here!">
            </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-light">Submit</button>
        </div>
      </form>
      </div>
    </div>
  </div>

</div>
</div>

<!-- Google map -->
<div id="map"></div>


<script src="/static/js/maps.js"></script>
<script async
    src="https://maps.googleapis.com/maps/api/js?key={{MAPS_API_KEY}}&callback=initMap">
</script>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>


{% endblock %}